{% extends "layout.html" %}

{% block title %}
Extra Info
{% endblock %}

{% block body %}
<h3 style="margin-left: 20px; margin-bottom: 15px;">Some extra info about paying for college from other websites:</h3>
<ul id="extraList">
    <li><a href="https://studentaid.gov/understand-aid/types/scholarships">Some information on financial aid by the federal government</a></li>
    <br>
    <li><a href="https://money.usnews.com/loans/student-loans/best-private-student-loans">A list of the best students loans you can get.</a></li>
    <br>
    <li><a href="https://www.mometrix.com/blog/scholarships-for-college/">A list of 175 scholarships you could apply for!</a></li>
    <br>
    <li><a href="https://www.nerdwallet.com/article/loans/student-loans/how-to-pay-for-college">8 tips by nerdwallet to pay for college</a></li>
    <br>
    <li><a href="https://www.forbes.com/advisor/student-loans/student-loan-forgiveness-programs/">Some student loan forgiveness programs from forbes</a></li>
    <br>
    <li><a href="https://www.princetonreview.com/college-advice/paying-for-college-tips">Some advice from the Princeton Review</a></li>
    <br>
    <li><a href="https://www.tiaa.org/public/learn/retirement-planning-and-beyond/managing-your-money/seven-tips-for-managing-your-student-loan-debt">Tips for managing student debt by TIAA</a></li>
</ul>
{% endblock %}